.albums-container{
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
}
.album-card{
    border: 5px solid black;
    padding: 15px;
    width: 200px;
}
.btn{
    height: 50px;
    outline: none;
}
.btn:hover{
    cursor: pointer;
    transform: translateY(1px);
}
.btn:active{
    transform: translateY(-1px);
}
.delete-album {
    height: 10px;
    justify-self: right;
    }
::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
  }
.close-dialog{
    justify-self: left;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: baseline;
}

.listen-icon:hover, .listen-icon:focus, .listen-status-span{
    cursor: pointer;
}

/* rating */
.rating-box {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
}
.rating-box input {
    display: none;
    }

.rating-box label {
    position:relative;
    display: inline-block;
    color: #888;
    width:25px;
    height:25px;
    border-radius:50%;
    cursor: pointer;
    }

.rating-box label:before {
        content:"★";
        position:absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        color:inherit;
        font-size:1.85em;
        cursor: pointer;
        line-height:40px;
}

.rating-box label:after {
    content:"";
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:40px;
    height:40px;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}
dialog{
    padding: 0;
}
.dialog-content{
    padding: 10px;
}
.edit-album{
    height: 20px;
    justify-self: right;
}
